body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.circle-menu {
    position: relative;
    text-align: center;
}

.circle-button {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    font-size: 100px;
    cursor: pointer;
    position: relative;
}

.option-button {
    height:100px;
    display: flex;
    justify-content: space-between; /* 使用空间均匀分布按钮 */
    align-items: center;
    position: absolute;
    top: -50%; /* 垂直居中 */
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    padding: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.option-button button {
    height:250px;
    width:150px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 5px 10px;
    margin: 0px 10px;
    cursor: pointer;
    font-size:50px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
}
select {
    width:500px;
    height:100px;
}
